#game{
    border: none;
    position: absolute;
    left: -0.5vw;
    top: 21vh;
    width: 101vw;
    height: 100%;
}
#fullscreen{
    position: absolute;
    right: 0;
    top: 16.5vh;
    cursor: pointer;
}
#title{
    position: absolute;
    top: -5.5vh;
    left: 50vw;
    z-index: -1;
}
#title p{
    position: relative; 
    left: -50%;
}
#credits{
    position: absolute;
    left: 0;
    top: 16.5vh;
}
#page{
    margin: 0;
    padding: 0;
    width: 110vw;
    height: 100vh;
}