
.card{
    border: white inset 2px;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}
.card:hover{
    color: #00e600;
    border: #00e600 2px outset;
    transform: scale(1.05);
}
.cardTitle{
    text-align: center;
}
.cardImg{
    border-radius: 10px;
    width: 150px;
    filter: drop-shadow(7px 7px 7px #262626);
}
