#description{
    text-align: center;
}
#nav{
    list-style-type: none;
    width: 775px;
    margin: auto;
}
#nav li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
#nav li:hover{
    border: white solid 1px;
    transform: scale(1.05);
    border-radius: 10px;
}