@import './modules/imports.css';
:root{
    font-family: Comfforta, Verdana, Helvetica, Arial;
    --accent: #2a2b2e;
    --background: #202225;
    --text: #ffffff;
}
.pageTitle{
    text-align: center;
    font-family: 'Major Mono Display', 'Times New Roman', Helvetica, Arial;
}
body{
    background-color: var(--background);
    color: var(--text);
    margin: 0;
}
.navIco{
    width: 150px;
    height: 150px;
}
#icoNav{
    list-style-type: none;
    display: block;
    width: 780px;
    margin: auto;
}
#icoNav li{
    display: inline-block;
    padding: 20px;
}
#icoNav li:hover{
    border: white 2px solid;
    border-radius: 20px;
}
p{
    text-align: center;
}
#games{
    padding-bottom: 500px;
}
.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
}