@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Major+Mono+Display&display=swap');
:root{
    --background: #000000;
    --text: #ffffff;
    font-family: 'Comfforta', Verdana, Helvetica, Arial;
}
body{
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    user-select: none;
    max-width: 100vw;
    overflow-x: hidden;
}
.title{
    font-family: 'Major Mono Display', 'Times New Roman', Verdana, Arial;
    font-size: 48px;
    text-align: center;
}
.link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    z-index: 10;
}
.inline-block{
    display: inline-block;
}